[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
	ignore = dirty
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
	ignore = dirty
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
	ignore = dirty
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	ignore = dirty
